<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link rel="stylesheet" href="./css/order_in_history.css">
    <script type="text/javascript" src="/eel.js"></script>
    <script src="js/order_in_history.js"></script>

</head>
<body>
     <div class="navtop">
         <a href="locationStock.html">กลับ</a>
     </div>
    <div class="container">
        <h1>ประวัติการเพิ่มรายการสินค้า</h1>
        <br>
        <div id="order-history-container">
            <!-- javaScript จะเพิ่มเข้ามา -->
        </div>
    </div>
</body>
</html>
